In [1]:
from peewee import *
db = MySQLDatabase(
    "task3",
    user= 'root',
    password= '123123',
    host = 'localhost'
)
db.connect()
print ('connected')

connected

In [7]:
import datetime
from peewee import *
class Post(Model):
    id = AutoField()  
    title = CharField()
    content = IntegerField()
    created_at = DateTimeField(default=datetime.datetime.now)
    
    class Meta:
        database = db
db.create_tables([Post])

In [25]:
data01 = [
{"title":"Software Test Engineer III","content":"OC"},
{"title":"Automation Specialist I","content":"EU"},
{"title":"Nurse Practicioner","content":"NA"},
{"title":"Account Executive","content":"SA"},
{"title":"Editor","content":"OC"},
{"title":"Librarian","content":"NA"},
{"title":"Accounting Assistant II","content":"AS"},
{"title":"Paralegal","content":"SA"},
{"title":"Human Resources Manager","content":"NA"}
         ]

for x in data01:
    Post.create(title=x['title'],content=x['content'])

In [27]:
import datetime

class Comment(Model):
    id = AutoField()  
    username = CharField()
    comment = CharField()
    post = ForeignKeyField(Post,backref='Comments')
    
    class Meta:
        database = db

db.create_tables([Comment])

In [33]:
Post.create(title='history of Rome',content='historical book')

In [35]:
import json
d = open(r'C:\Users\A.saad aldeen\Downloads\MOCK_DATA.json')
data = json.load(d)
for p in data:
    Post.create(**p)

In [37]:
Comment.create(username='ahmed',comment='25% discount' ,
post=7)

In [39]:
data = Post.select()
for x in data:
    print(x.title , x.content)

Software Test Engineer III 0
Automation Specialist I 0
Nurse Practicioner 0
Account Executive 0
Editor 0
Librarian 0
Accounting Assistant II 0
Paralegal 0
Human Resources Manager 0
Software Test Engineer III 0
Automation Specialist I 0
Nurse Practicioner 0
Account Executive 0
Editor 0
Librarian 0
Accounting Assistant II 0
Paralegal 0
Human Resources Manager 0
Software Test Engineer III 0
Automation Specialist I 0
Nurse Practicioner 0
Account Executive 0
Editor 0
Librarian 0
Accounting Assistant II 0
Paralegal 0
Human Resources Manager 0
Software Test Engineer III 0
Automation Specialist I 0
Nurse Practicioner 0
Account Executive 0
Editor 0
Librarian 0
Accounting Assistant II 0
Paralegal 0
Human Resources Manager 0
Software Consultant 0
Internal Auditor 0
Clinical Specialist 0
Physical Therapy Assistant 0
Community Outreach Specialist 0
Programmer Analyst I 0
Senior Financial Analyst 0
Senior Financial Analyst 0
Graphic Designer 0
Environmental Tech 0
Research Associate 0
Social Worker 0
Marketing Assistant 0
Sales Associate 0
Programmer I 0
Chief Design Engineer 0
Financial Advisor 0
Systems Administrator I 0
Environmental Specialist 0
Web Developer III 0
Business Systems Development Analyst 0
Engineer I 0
Research Nurse 0
Staff Scientist 0
GIS Technical Architect 0
Quality Control Specialist 0
Programmer I 0
Nuclear Power Engineer 0
Analog Circuit Design manager 0
Speech Pathologist 0
Editor 0
VP Quality Control 0
Chief Design Engineer 0
Senior Sales Associate 0
Sales Representative 0
Engineer III 0
Software Engineer I 0
Director of Sales 0
Programmer Analyst IV 0
Structural Engineer 0
Senior Quality Engineer 0
historical book 0
history of Rome 0
Software Test Engineer III 0
Automation Specialist I 0
Nurse Practicioner 0
Account Executive 0
Editor 0
Librarian 0
Accounting Assistant II 0
Paralegal 0
Human Resources Manager 0
Software Consultant 0
Internal Auditor 0
Clinical Specialist 0
Physical Therapy Assistant 0
Community Outreach Specialist 0
Programmer Analyst I 0
Senior Financial Analyst 0
Senior Financial Analyst 0
Graphic Designer 0
Environmental Tech 0
Research Associate 0
Social Worker 0
Marketing Assistant 0
Sales Associate 0
Programmer I 0
Chief Design Engineer 0
Financial Advisor 0
Systems Administrator I 0
Environmental Specialist 0
Web Developer III 0
Business Systems Development Analyst 0
Engineer I 0
Research Nurse 0
Staff Scientist 0
GIS Technical Architect 0
Quality Control Specialist 0
Programmer I 0
Nuclear Power Engineer 0
Analog Circuit Design manager 0
Speech Pathologist 0
Editor 0
VP Quality Control 0
Chief Design Engineer 0
Senior Sales Associate 0
Sales Representative 0
Engineer III 0
Software Engineer I 0
Director of Sales 0
Programmer Analyst IV 0
Structural Engineer 0
Senior Quality Engineer 0

In [41]:
comment = Comment.get(Comment.id == 7)
comment.username = 'Ahmad'
comment.comment = 'Descount'
comment.save()

CommentDoesNotExist: <Model: Comment> instance matching query does not exist:
SQL: SELECT `t1`.`id`, `t1`.`username`, `t1`.`comment`, `t1`.`post_id` FROM `comment` AS `t1` WHERE (`t1`.`id` = %s) LIMIT %s OFFSET %s
Params: [7, 1, 0]

In [43]:
comment = Comment.get(Comment.id == 10)
comment.delete_instance()

CommentDoesNotExist: <Model: Comment> instance matching query does not exist:
SQL: SELECT `t1`.`id`, `t1`.`username`, `t1`.`comment`, `t1`.`post_id` FROM `comment` AS `t1` WHERE (`t1`.`id` = %s) LIMIT %s OFFSET %s
Params: [10, 1, 0]